@import "../../settings";

$inner-offset: 80px 60px;
$with: 700px;
$height: 250px;
$height-mobile: 171px;
$full-height: 670px;
$full-height-mobile: 600px;

$title-size: 2rem;
$title-size-mobile: 1.7rem;
$subtitle-size: 1.4rem;
$subtitle-size-mobile: 1.1rem;
$time-size: 1.7rem;
$time-size-mobile: 1.4rem;
$content-size: 1rem;
$content-size-mobile: 0.825rem;

$title-color: map_get($text-colors, title);
$content-color: map_get($text-colors, content);

$border-radius: 5px;

$inner-border-color: $letter-border-color;
$bg-color: map_get($app-colors, letter);
$shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);