@import "settings";

.letter {
    position: relative;

    color: $content-color;

    max-width: $with;
    width: 100%;
    height: $height;

    border-radius: $border-radius;

    transition: height 0.6s ease-in-out;
    animation: deploy 1s ease-in-out forwards;
    animation-delay: 0.6s;

    overflow: hidden;
    z-index: -1;

    &.letter {
        &--full {
            height: $full-height;
        }

        &--flipped {
            transform: rotateY(180deg);

            .letter__container {
                transform: rotateY(180deg);

                .letter-back-side {
                    transform: rotateY(180deg);
                }
            }

            .letter__btn-group {
                text-align: left;
                transform: rotateY(180deg);
            }
        }
    }

    .letter {
        &__line {
            width: 100px;
            height: 2px;
            margin-bottom: 10px;

            background-color: $inner-border-color;
            border: none;
        }
        &__container {
            position: relative;
            padding: $inner-offset;

            width: inherit;
            height: inherit;

            outline: 2px solid $inner-border-color;
            outline-offset: -20px;

            box-sizing: border-box;

            border-radius: $border-radius;
            background-color: $bg-color;
            box-shadow: $shadow;

            transition: transform 0.3s ease-in-out;

            &::after, &::before {
                content: '';

                position: absolute;

                display: block;

                width: 250px;
                height: 140px;

                background-image: url("../../assets/images/olive-branch.png");
                background-size: 100%;
                background-repeat: no-repeat;
            }

            &::before {
                top: 0;
                right: -27px;
                transform: rotate(-153deg);
            }

            &::after {
                bottom: 0;
                left: -55px;

                transform: rotate(230deg) rotateX(180deg);
            }
        }
        &__content, &__title, &__subtitle, &__time {
            display: block;

            text-align: center;
            text-transform: uppercase;
        }

        &__title {
            font-family: PlayfairBold, serif;
            font-size: $title-size;
            color: $title-color;

            line-height: normal;
            margin-bottom: 30px;
        }
        &__content {
            font-size: $content-size;
            font-weight: bold;
            line-height: normal;

        }
        &__subtitle, &__time {
            font-family: PlayfairBold, serif;
            font-size: $subtitle-size;
            color: $title-color;
        }

        &__time {
            font-size: $title-size;

            margin: 30px 0;

        }

        &__btn-group {
            position: absolute;
            bottom: 30px;
            right: 30px;

            text-align: right;

            width: 100%;
        }
    }
}

.letter-back-side, .letter-front-side {
    animation: fade-in 0.6s linear;
}

.letter-back-side {
    display: flex;
    flex-flow: column;
    justify-content: center;

    height: 100%;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes deploy {
    0% {
        transform: translateY(0);
        z-index: 1;
    }
    50% {
        transform: translateY(-500px);
        z-index: 1;
    }
    100% {
        transform: translateY(0);

        z-index: 4;
    }
}

@import "styles.mobile";