@import "settings";

@media screen and (min-width: 320px) and (max-width: 599px) {
    .letter {
        height: $height-mobile;

        &.letter {
            &--full {
                height: $full-height-mobile;
            }
        }
        .letter {
            &__title {
                font-size: $title-size-mobile;
            }

            &__content {
                font-size: $content-size-mobile;
            }

            &__subtitle, &__time {
                font-size: $subtitle-size;
            }

            &__container {
                padding: 60px 25px;

                &::after, &::before {
                    width: 150px;
                    height: 90px;
                }

                &::after {
                    left: -33px;
                }

                &::before {
                    transform: rotate(-150deg);
                    right: -14px;
                }
            }

            &__btn-group {
                z-index: 10;
            }
        }
    }

    .letter-back-side {
        display: block;
    }
}