@import "settings";

@media screen and (min-width: 320px) and (max-width: 599px){
    .envelope {
        max-width: $width-mobile;
        height: $width-mobile/$ratio;


        &::before {
            border-top: $width-mobile/$ratio solid transparent;
            border-right: $width-mobile solid darken($bg-color, 2%);
        }

        &::after {
            border-top: $width-mobile/$ratio solid transparent;
            border-left: $width-mobile solid darken($bg-color, 6%);
        }

        .envelope {
            &__flap {
                border-right: $width-mobile/2 solid transparent;
                border-top: ($width-mobile/2)/$ratio solid darken($bg-color, 8%);
                border-left: $width-mobile/2 solid transparent;
            }

            &-button {
                &__icon {
                    width: 64px;

                    svg {
                        width: 64px;
                    }
                }
            }
        }
    }
}