@import "settings";

.envelope {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 300px;
    max-width: $width;
    height: $width/$ratio;
    width: 100%;
    margin: 0 auto;

    box-shadow: $shadow;
    background-color: $bg-color;

    z-index: 1;

    &::after, &::before {
        content: '';

        position: absolute;
        bottom: 0;
    }

    &::before {
        border-bottom: 0 solid transparent;
        border-top: $width/$ratio solid transparent;
        border-right: $width solid darken($bg-color, 2%);

        z-index: 2;
    }

    &::after {
        left: 0;
        border-bottom: 0 solid transparent;
        border-top: $width/$ratio solid transparent;
        border-left: $width solid darken($bg-color, 6%);

        z-index: 2;
    }

    .envelope {
        &__flap {
            position: absolute;
            top: 0;
            left: 0;

            border-right: $width/2 solid transparent;
            border-top: ($width/2)/$ratio solid darken($bg-color, 8%);
            border-left: $width/2 solid transparent;

            transform-origin: 50% 0;

            z-index: 1;

            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transition: transform 0.35s ease-in-out;

            &-is-open {
                transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);
            }
        }

        &-button {
            position: relative;

            z-index: 3;

            background: none;

            border: none;

            &:focus, &:active {
                outline: none;
                border: none;
            }

            transition: all 0.3s ease-in-out;

            &__icon {
                width: 100px;

                svg {
                    width: 100px;

                    animation: blinking 2s ease-in-out infinite;

                    g{
                        stroke-width:30px;
                        stroke: transparent;

                        animation: shine 2s ease-in-out infinite;
                    }
                }
            }

            &--clicked {
                opacity: 0;
                transform: scale(-1);
            }
        }
    }
}

@keyframes blinking {
    0% {
        filter: drop-shadow(0 0 0 rgba(255,255,255,0.5));
    }
    50% {
        filter: drop-shadow(0 0 10px rgba(255,255,255,0.5));
    }
    100% {
        filter: drop-shadow(0 0 0 rgba(255,255,255,0.5));
    }
}

@keyframes shine{
    0% {
        fill: map_get($button-colors, primary);
        stroke: transparent;
    }
    50% {
        fill: map_get($button-colors, secondary);
        stroke: white;
    }
    100% {
        fill: map_get($button-colors, primary);
        stroke: transparent;
    }
}

@import "styles.mobile";