@import "settings";

.letter-button {
    font-family: Pacifico, sans-serif;
    color: $font-color;

    opacity: .8;
    letter-spacing: 1px;
    font-weight: 100;

    margin: 0 5px;
    padding: 2px 10px;


    border: none;
    background: none;
    outline: none;

    transition: all 0.3s ease-in-out;

    &:hover {
        color: $font-color-hover;
        border-color: $font-color-hover;
    }

    &:active, &:focus {
        outline: none;
    }

    &.letter-button {
        &--checked {
            color: $font-color-checked;
        }
    }
}