{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static '/favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#7da453"/>
    <link rel="manifest" href="{% static '/manifest.json' %}"/>
    <link href="{% static '/css/main.ea9076bb.chunk.css' %}" rel="stylesheet">
    <title>Приглашение на свадьбу</title>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
{% csrf_token %}
    <script>!function (e) {
        function r(r) {
            for (var n, f, i = r[0], l = r[1], a = r[2], c = 0, s = []; c < i.length; c++) f = i[c], Object.prototype.hasOwnProperty.call(o, f) && o[f] && s.push(o[f][0]), o[f] = 0;
            for (n in l) Object.prototype.hasOwnProperty.call(l, n) && (e[n] = l[n]);
            for (p && p(r); s.length;) s.shift()();
            return u.push.apply(u, a || []), t()
        }

        function t() {
            for (var e, r = 0; r < u.length; r++) {
                for (var t = u[r], n = !0, i = 1; i < t.length; i++) {
                    var l = t[i];
                    0 !== o[l] && (n = !1)
                }
                n && (u.splice(r--, 1), e = f(f.s = t[0]))
            }
            return e
        }

        var n = {}, o = {1: 0}, u = [];

        function f(r) {
            if (n[r]) return n[r].exports;
            var t = n[r] = {i: r, l: !1, exports: {}};
            return e[r].call(t.exports, t, t.exports, f), t.l = !0, t.exports
        }

        f.m = e, f.c = n, f.d = function (e, r, t) {
            f.o(e, r) || Object.defineProperty(e, r, {enumerable: !0, get: t})
        }, f.r = function (e) {
            "undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(e, Symbol.toStringTag, {value: "Module"}), Object.defineProperty(e, "__esModule", {value: !0})
        }, f.t = function (e, r) {
            if (1 & r && (e = f(e)), 8 & r) return e;
            if (4 & r && "object" == typeof e && e && e.__esModule) return e;
            var t = Object.create(null);
            if (f.r(t), Object.defineProperty(t, "default", {
                enumerable: !0,
                value: e
            }), 2 & r && "string" != typeof e) for (var n in e) f.d(t, n, function (r) {
                return e[r]
            }.bind(null, n));
            return t
        }, f.n = function (e) {
            var r = e && e.__esModule ? function () {
                return e.default
            } : function () {
                return e
            };
            return f.d(r, "a", r), r
        }, f.o = function (e, r) {
            return Object.prototype.hasOwnProperty.call(e, r)
        }, f.p = "/";
        var i = this["webpackJsonpwedding-front-end"] = this["webpackJsonpwedding-front-end"] || [], l = i.push.bind(i);
        i.push = r, i = i.slice();
        for (var a = 0; a < i.length; a++) r(i[a]);
        var p = l;
        t()
    }([])
    </script>
    <script>
        window.__INITIAL_STATE__ = {
            id: {{ id }},
            name: '{{ person_name }}',
            {% if party %}
                party: true,
            {% else %}
                party: false,
            {% endif %}
            {% if official_part %}
                officialPart: true
            {% else %}
                officialPart: false
            {% endif %}
        };
    </script>
    <script src="{% static '/js/2.5c155eba.chunk.js' %}"></script>
    <script src="{% static '/js/main.4e42849b.chunk.js' %}"></script>
</body>
</html>