@font-face {
  font-family: 'YesevaOne';
  src: url('./../../assets/fonts/YesevaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pacifico';
  src: url('./../../assets/fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alegrea';
  src: url('./../../assets/fonts/AlegreyaSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreaBold';
  src: url('./../../assets/fonts/AlegreyaSC-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('./../../assets/fonts/Spectral-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpectralBold';
  src: url('./../../assets/fonts/Spectral-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url('./../../assets/fonts/PlayfairDisplaySC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairBold';
  src: url('./../../assets/fonts/PlayfairDisplaySC-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}