@import "constants/styles/fonts";

$app-colors: (
        envelope: #7da453,
        letter: #fff8e1
);

$app-font-size: 16px;

$letter-border-color: #be9c91;

$text-colors: (
        title: #212121,
        content: #484848
);

$button-colors: (
        primary: #c6a700,
        secondary: #ffeb3b
)