@import "./constants/styles";
@import "./constants/styles/fonts";

body {
    font-family: Playfair, serif;

    font-size: 16px;
    letter-spacing: 0.15rem;
}

p {
    margin: 0.820rem 0;
    line-height: normal;
}

.wedding-app {

    .wedding-app__blur-bg {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        display: block;

        width: 100%;

        background-image: url("./assets/images/olife.jpg");

        filter: blur(3px);
    }
}

.wedding-app, .wedding-body {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
}